# Dependency directories
node_modules/

# Build outputs
backend/bin/
backend/obj/
frontend/build/

# Environment files
*.env
/.vs/Projekt_inz/FileContentIndex/4833ca8c-b061-4bcb-8d93-7aadfe538552.vsidx
/.vs/Projekt_inz/FileContentIndex
