.page-link-active {
    background-color: #f5f5f5 !important;
    color: #999999 !important;
    pointer-events: none;
}

.parent-div, html {
    background-color: gainsboro;
}

.card {
    background-color: whitesmoke;
}

.image-btn {
    background: none !important;
    border: none !important;
}